@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0C0824;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: visible;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #D297F4;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #563183, 
                0 0 50px #D297F4, 
                0 0 100px #D297F4;
    animation: animate 15s linear infinite;
    animation-duration: calc(225s / var(--i));
    z-index: -1;
}

.bubbles span:nth-child(even) {
    background: #896F9D;
    box-shadow: 0 0 0 5px #34284D, 
                0 0 50px #896F9D, 
                0 0 100px #896F9D;
}

.header {
    display: flex;
    color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    flex: 0 1 auto;
}

.logo img {
    max-width: 100px;
}

.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
}

.button {
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    font-weight: 900;
}

.button:hover {
    background-color: #2d0058dc;
}

.link-page{
    text-decoration: none;
    color: white;

}

/* Media queries */
@media screen and (max-width: 991px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        padding: 10px;
    }

    .logo {
        margin-bottom: 0;
    }

    .Buttons {
        justify-content: flex-end;
    }

    .button {
        margin: 10px 5px;
        padding: 15px 20px;
        font-size: 16px;
    }
}

/* Remaining styles for other sections */

.title-container {
    text-align: center;
    margin: 200px 0 200px 0px;
}

.title {
    font-size: 72px;
    background: -webkit-linear-gradient(45deg, #8426ff, #ff79c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.subtitle {
    text-align: center;
    position: relative;
    margin: 10px;
    color: #FFFFFF; /* White text color */
}

.subtitle p {
    font-size: 24px;
    margin: 10px 0;
}

.subtitle .highlight {
    position: relative;
    z-index: 1; /* Ensure the text is above the shadow */
    display: inline-block; /* Ensure the element's width matches the content */
    text-align: center;
    padding: 0 10px; /* Add padding to create space for the shadow */
}

.subtitle .highlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px; /* Match the padding of the highlight */
    right: -10px; /* Match the padding of the highlight */
    bottom: 0;
    background: linear-gradient(45deg, #8426ff, #ff79c6);
    filter: blur(20px); /* Adjust blur for shadow effect */
    z-index: -1; /* Ensure the shadow is behind the text */
}

.photo1 {
    margin-right: 100px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 20px rgb(255, 255, 255);
}

.button-sec1 {
    color: white;
    padding: 20px 30px;
    border: none;
    margin: 0 200px;
    cursor: pointer;
    background-color: #8426ff;
    transition: background-color 0.3s;
    font-size: 37px;
    font-weight: 900;
    border-radius: 10px;
}

.button-sec1:hover {
    background-color: #2d00584b;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section2 h2 {
    color: #ffffff;
    font-size: 46px;
    margin-bottom: 40px;
}

.section2 p {
    color: #e9e9e9;
    max-width: 800px;
    font-size: 20px;
    line-height: 1.6;
}

.section3 {
    color: #8426ff;
    height: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.why {
    font-size: 46px;
    margin-bottom: 50px;
    color: #ffffff;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 800px; /* Optional: Adjust the max-width to fit your design */
}

.card {
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 15px); /* Calculate 50% width minus gap */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card p {
    color: #e2e2e2;
    font-size: 18px;
    line-height: 1.6;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px 5px #d297f424;
}

@media screen and (max-width: 767px) {
    .cards-container {
        flex-direction: column; /* Change to column layout on smaller screens */
    }

    .card {
        width: 100%; /* Full width for cards on smaller screens */
        margin-bottom: 20px; /* Optional: Adjust margin for spacing */
    }

    .why {
        font-size: 40px;
    }

}


.section4 {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feedback-title {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 80px;
}

.card h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.section4 p {
    color: #e2e2e2;
}

.section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.button-sec5 {
    color: white;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 37px;
    font-weight: 900;
    border-radius: 10px;
    text-align: center;
    background-color: #8426ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-sec5:hover {
    background-color: #2d00584b;
}

.downloadIco {
    max-width: 80px;
    margin-right: 10px;
}

.photo2 {
    margin-right: 400px;
}

.footer {
    color: white;
    text-align: center;
    padding: 20px;
}

.footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 40px;
}

.footer a:hover {
    text-decoration: none;
}

.fa {
    padding: 10px;
    width: 30px;
    
    
}

.fa:hover {
    opacity: 0.7;
}



.fa-instagram, .fa-linkedin, .fa-facebook, .fa-google {
    background: -webkit-linear-gradient(45deg, #ddc4ff, #ffa0d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 45px;

}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-70vh) scale(1);
    }
}

/* Media queries */
@media screen and (max-width: 991px) {
    .header {
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .logo {
        margin-bottom: 0;
    }

    .Buttons {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .button {
        margin: 10px 5px;
        padding: 10px 15px;
        font-size: 22px;
    }

    .button-sec5 {
        padding: 20px 30px;
        font-size: 30px;
    }

    .subtitle p {
        font-size: 20px;
    }
    
}

/* Adjustments for section layouts on smaller screens */

.section1 {
    flex-direction: column-reverse;
    height: auto;
    padding: 20px;
}

.button-sec1 {
    margin: 20px 0;
}

.photo1 {
    margin-right: 0;
}

.section2 h2 {
    font-size: 36px;
}

.section2 p {
    font-size: 18px;
}

.cards-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 90%;
    margin-bottom: 20px;
}

.section3 {
    height: auto;
}

.why {
    margin-bottom: 50px;
}

.section4 {
    padding: 20px;
}

.feedback-title {
    font-size: 36px;
    margin-bottom: 50px;
}


.footer p{
    font-size: 20px;
    background: -webkit-linear-gradient(45deg, #ddc4ff, #ffa0d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
