<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/style.css') }}">
 
    <title>TaleBuilder</title>

</head>
<body>

<div class="container">
    <div class="bubbles">
    
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:24;"></span>
        <span style="--i:10;"></span>
        <span style="--i:14;"></span>
        <span style="--i:23;"></span>
        <span style="--i:18;"></span>
        <span style="--i:16;"></span>
        <span style="--i:19;"></span>
        <span style="--i:28;"></span>
        <span style="--i:22;"></span>
        <span style="--i:25;"></span>
        <span style="--i:18;"></span>
        <span style="--i:21;"></span>
        <span style="--i:15;"></span>
        <span style="--i:13;"></span>
        <span style="--i:26;"></span>
        <span style="--i:17;"></span>
        <span style="--i:13;"></span>
        <span style="--i:28;"></span>
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:24;"></span>
        <span style="--i:10;"></span>
        <span style="--i:14;"></span>
        <span style="--i:23;"></span>
        <span style="--i:18;"></span>
        <span style="--i:16;"></span>
        <span style="--i:19;"></span>
        <span style="--i:28;"></span>
        <span style="--i:22;"></span>
        <span style="--i:25;"></span>
        <span style="--i:18;"></span>
        <span style="--i:21;"></span>
        <span style="--i:15;"></span>
        <span style="--i:13;"></span>
        <span style="--i:26;"></span>
        <span style="--i:17;"></span>
        <span style="--i:13;"></span>
        <span style="--i:28;"></span>
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:24;"></span>
        <span style="--i:10;"></span>
        <span style="--i:14;"></span>
        <span style="--i:23;"></span>
        <span style="--i:18;"></span>
        <span style="--i:16;"></span>
        <span style="--i:19;"></span>
        <span style="--i:28;"></span>
        <span style="--i:22;"></span>
        <span style="--i:25;"></span>
        <span style="--i:18;"></span>
        <span style="--i:21;"></span>
        <span style="--i:15;"></span>
        <span style="--i:13;"></span>
        <span style="--i:26;"></span>
        <span style="--i:17;"></span>
        <span style="--i:13;"></span>
        <span style="--i:28;"></span>
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:24;"></span>
        <span style="--i:10;"></span>
        <span style="--i:14;"></span>
        <span style="--i:23;"></span>
        <span style="--i:18;"></span>
        <span style="--i:16;"></span>
        <span style="--i:19;"></span>
        <span style="--i:28;"></span>
        <span style="--i:22;"></span>
        <span style="--i:25;"></span>

        
    </div>
        <div class="header">
            <div class="logo"><img src="./static/img/logo.png" alt="Logo"></div>
            <div class="Buttons">
                <div class="button"><a class="link-page" href="{{ url_for('create_story') }}" target="_blank">Try It Now</a></div>
                <div class="button"><a class="link-page" href="{{ url_for('contactus') }}" target="_blank">Contact Us</a></div>
                <div class="button"><a class="link-page" href="{{ url_for('about') }}" target="_blank">About</a></div>
            </div>
        </div>

        <div class="title-container">
            <h1 class="title">TaleBuilder</h1>
            <div class="subtitle">
                <p>Empowering analytical minds with AI-driven</p>
                <p class="highlight">storytelling for impactful communication.</p>
            </div>
        </div>

        <div class="section2">
            <h2>Turn Your Data into a Compelling Narrative</h2>
            <p>Welcome to our innovative platform, designed to transform static reports into compelling
                 narrative stories. Our tool is an essential asset for data scientists and analysts,
                  facilitating the communication of complex findings to stakeholders with clarity and
                   impact. By weaving data insights into a cohesive story, our solution enables
                    professionals to present their results engagingly and understandably,
                     ensuring that key messages are effectively conveyed. Elevate your data
                 communication and make your findings resonate with our state-of-the-art 
                 storytelling tool.</p>
        </div>

        <div class="section3">
            <div>
                <h1 class="why">Why Use Our Tool?</h1>
            </div>
            <div class="cards-container">
                <div class="card">
                    <p><b>Free to Use:</b> Our tool is available for free, making it accessible to a wide range of users,
                        including individuals, small teams, and organizations with budget constraints.
                        Users can leverage its powerful features without worrying about subscription fees or upfront costs.</p>
                </div>
                <div class="card">
                    <p><b>Streamlined Storytelling Process:</b> Our tool simplifies the storytelling process for data scientists and analysts, 
                        allowing them to focus more on visualization and report creation.
                        By automating the storytelling step, it reduces the time spent on thinking and preparing the narrative
                        to present to stakeholders.</p>
                </div>
                <div class="card">
                    <p><b>Effortless Story Optimization:</b>
                        Our AI-driven tool delivers optimized stories seamlessly,
                         eliminating the need for users to manually adjust or refine their narratives.
                          This ensures that the stories created are both impactful and polished,
                           allowing data professionals to focus on the insights rather than the presentation details.
                         With our platform, turning charts and visualizations into compelling narratives has never been easier or more efficient.
                        </p>
                </div>
                <div class="card">
                    <p><b>Empowering Data Professionals:</b> Our tool empowers data professionals to become effective storytellers,
                        bridging the gap between data and decision-makers.
                        By providing the tools and resources needed to craft compelling narratives,
                        it equips users to drive meaningful action and impact within their organizations.</p>
                </div>
            </div>
        </div>

        <div class="section4">
            
            <div>
                <h1 class="feedback-title">What Our Users Say?</h1>
            </div>
            <div class="cards-container">
                <div class="card">
                    <h3>Jane Doe, CEO</h3>
                    <p>"Our company has greatly benefited from using this tool. It has revolutionized the way we present data to our stakeholders, making our meetings more productive and insightful. The AI-driven insights have been a game-changer."</p>
                </div>
                <div class="card">
                    <h3>Michael Chen, Sales Manager</h3>
                    <p>"Our sales team relies on this tool to transform our data scientists' findings into compelling narratives
                         that resonate with our clients. By translating complex findings into easily understandable stories,
                          our presentations have become more engaging and persuasive. The AI-driven insights provide invaluable
                         guidance in crafting narratives that effectively communicate the value of our products and services to customers.
                         "</p>
                </div>
                <div class="card">
                    <h3>Emily Johnson, Product Manager</h3>
                    <p>"As a product manager, I understand the importance of presenting data-driven insights in a way that resonates with 
                        our target audience. This tool has been essential in translating our data scientists' findings into impactful
                         stories that highlight the benefits of our products. The streamlined storytelling process allows
                         us to effectively communicate the value proposition of our products to customers,
                          driving adoption and satisfaction."</p>
                </div>
            </div>
        </div>

        <div class="section5">
            <div class="button-sec5"><img class="downloadIco" src="./static/img/download.png"> Download Our App</div>
            <!-- <div class="photo2"><img src="./androidApp.png" alt=""></div> -->
        </div>

        <div class="footer">
            <p><b>&copy; 2024 TaleBuilder. All rights reserved.</b></p>
            <div>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-google"></a>
            </div>
        </div>
</div>
</body>
</html>
